name: ESP32 build

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: espressif/idf:v5.1

    steps:
      - uses: actions/checkout@v4

      - name: Hunt esp_driver_uart
        run: |
          . /opt/esp/idf/export.sh
          echo "==== BUSCANDO esp_driver_uart ===="
          grep -R "esp_driver_uart" -n .

      - name: Build firmware
        run: |
          . /opt/esp/idf/export.sh
          idf.py --version
          rm -rf build managed_components
          idf.py set-target esp32s3
          idf.py build
