name: ESP32 build

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: espressif/idf:v5.1
    steps:
      - uses: actions/checkout@v4

      - name: Force ESP-IDF environment
        run: |
          . /opt/esp/idf/export.sh
          idf.py --version

      - name: Disable Component Manager
        run: echo "IDF_COMPONENT_MANAGER=0" >> $GITHUB_ENV

      - name: Clean
        run: |
          rm -rf build managed_components
          idf.py fullclean

      - name: Build
        run: |
          idf.py set-target esp32s3
          idf.py build
