jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: espressif/idf:v5.1
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: |
          idf.py set-target esp32s3
          idf.py build
